@media only screen and (max-width: 800px) {
    .cv-page {
        display: block;
        width: 95%;
        .data-part {
            width: 70%;
            height: 100%;
            z-index: 9;
            position: absolute;
            margin-left: -1000px;
        }
        .education-part {
            width: 100%;
        }
        .education-part {
            img {
                display: block;
                cursor: pointer;
            }
        }
    }
}

.style {
    margin-left: 1000px;
}