@media only screen and (max-width: 800px) {
    .cv-page {
        display: block;
        width: 95%;
        .data-part {
            width: 70%;
            z-index: 9;
            position: absolute;
            left: -700px;
            .exit {
                position: absolute;
                display: block;
                width: 32px;
                height: 32px;
                top: 20px;
                right: 20px;
                cursor: pointer;
            }
        }
        .education-part {
            width: 100%;
        }
        .education-part {
            img {
                display: block;
                cursor: pointer;
            }
        }
        .projects,
        .courses {
            width: 100%;
        }
        .education-part {
            .projects {
                .project-item {
                    div {
                        p {
                            margin: 5px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}